nav {
  background-color: #b5b35c;
  font-size: 100%;
  display: flex;
  margin-bottom: 3px;
}

  header {
    display: flex;
    margin-bottom: 3px;
  }
 
  section {
    position: relative;
    margin-top: 3px;
  }  
  section img {
    width: 100%;
  }  
  .retblu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-100%, -50%);
    background-color: blue; 
    color: white;
    padding: 10px; 
    text-align: center;
  }

  div {
    display: inline-block;
    width: 30%;
    margin-right: 35px;
  }
  div img {
    height: auto;
  }

  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    background-color: #b5b35c;
  }

  a {
    color: white;
    text-decoration: none;
  }

  a:hover, a:active {
    color: white;
    text-decoration: underline;
  }

  .nomeitts {
    font-size: 210%;
    margin-left: 20px;
    display: flex;
    align-items: center;
    gap: 10px; 
    width: auto;
}

  .indirizzi {
    background-color: #ede8d0;
    font-size: 100%;
    text-align: center;
    border-top: 5px;
    padding: 10px;
    margin-bottom: 5px;
  }

  .spec {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
  }