  header {
    background-color: darkolivegreen;
    font-size: 100%;
    display: flex;
  }

  nav {
    position: relative;
  }
  
  nav img {
    width: 100%;
  }
  
  nav .overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 128, 0.7);
    color: white;
    padding: 10px;
    text-align: center;
  }

  a:link {
      color: white;
      background-color: transparent;
      text-decoration: none;
  }
  a:hover {
      color: white;
      background-color: transparent;
      text-decoration: underline;
  }
  a:active {
      color: white;
      background-color: transparent;
      text-decoration: underline;
  }