body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
}

table {
  border-spacing: 5px; 
  width: 100%;
}

th {
  border: 1px solid #000;
  background-color: #fffdd0;
  padding: 10px;
  text-align: center;
}

td {
  border: 1px solid #000;
}